<h2>Acerca del Autor</h2>
<br/>
<h4>Yail peralta</h4>
<img src="/images/yailanderson.jpg" alt="Yail Peralta" width="120px" height="120px"/>
<br/>
<p> Desarrollador web freelance, programador PHP y JavaScript <br/>apacionado por el desarrollo web y mobile.</p>