<label for="pregunta">Pregunta</label>
<input type="text" name="quiz[pregunta]" id="pregunta" value="<%= quiz.pregunta %>"/>

<label for="respuesta">Respuesta</label>
<input type="text" name="quiz[respuesta]" id="respuesta" value="<%= quiz.respuesta %>"/>

<a href="/quizes"><button type="button">Cancelar</button></a>
