<form action="" method="get">
    <label for="search">Buscar preguntas</label>
    <input type="text" id="search" name="search"/>
    <input type="submit" value="Buscar"/>
</form>
<table>
    <% for(var i = 0; i < quizes.length; i++ ){ %>
    <tr>
        <td>
            <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
        </td>
    </tr>
    <% } %>
</table>