<form method="get" action="/quizes/answer">
    Pregunta: <%= pregunta %>
    <br/>
    <br/>
    <input type="text" name="respuesta" id="respuesta" value="Responda aqui"/>
    <input type="submit" value="Enviar"/>
</form>
